/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  font-size: 16px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 120px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 10px 0;
}

.weather h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 30px;
  gap: 10px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 30px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.weather {
  display: none;
}
/* 
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  color: #ff6b6b;
} */

/* Media Queries for Responsiveness */

/* Tablets (min-width: 600px) */
@media (min-width: 600px) {
  .card {
    padding: 30px;
  }

  .search input {
    height: 60px;
    font-size: 18px;
  }

  .search button {
    width: 60px;
    height: 60px;
  }

  .weather-icon {
    width: 150px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 35px;
  }

  .col img {
    width: 40px;
  }

  .humidity,
  .wind {
    font-size: 24px;
  }
}

/* PCs (min-width: 1024px) */
@media (max-width: 768px) {
  .card {
    max-width: 600px;
    padding: 40px;
  }

  .search {
    flex-direction: column;
  }

  .weather-icon {
    width: 170px;
  }

  .weather h1 {
    font-size: 80px;
  }

  .weather h2 {
    font-size: 45px;
  }

  .details {
    padding: 0 20px;
  }

  .col img {
    width: 50px;
  }

  .humidity,
  .wind {
    font-size: 28px;
  }
}
